body{
    background-color: rgba(203, 231, 186, 0.788);
    font-family: sans-serif, Helvetica;
    color: rgb(255, 255, 255);
    background-image:url(50-Beautiful-and-Minimalist-Presentation-Backgrounds-024.jpg);
    
}

.minhaFoto{
    border-radius: 25%;
}

h1{

}

ul, li, a{
    list-style-type: none;
    text-decoration: none;
}

ul{
    background-color: rgb(59, 59, 59);
    padding: 8px;
    margin: 5px;
}

li{
    background-color: rgba(128, 128, 128, 0.479);
    padding: 5px;
    margin: 5px;
}

a:link{
    color: gold;
}

a:visited{
    color: rgba(218, 165, 32, 0.658);
}

p{
    background-image:url() ;
}

