body{
    background-color: rgba(203, 231, 186, 0.788);
    font-family: sans-serif, Helvetica;
    color: rgb(255, 255, 255);
    background-image:url(50-Beautiful-and-Minimalist-Presentation-Backgrounds-024.jpg);
    background-size: cover;
    text-align: center;
    width: 50%;
    display: table;
    margin: 50px auto;
    padding: 3%;
}

.algHab{
    background-color: rgba(59, 59, 59, 0.726);
    padding: 5px;
    margin: 5px;
}


#minhaFoto{
    border-radius: 25%;
    float: left;  
    padding: 10px;
    background-color: white;
    
}

h1{
    margin: 10px 10px 80px 10px;
}

/* h2{
    background-color: rgba(59, 59, 59, 0.726);
    padding: 5px;
    margin: 5px;
} */

ul, li, a{
    list-style-type: none;
    text-decoration: none;
}

ul{
    background-color: rgba(59, 59, 59, 0.726);
    padding: 8px;
    margin: 50px 5px 5px 5px;
}

li{
    background-color: rgba(128, 128, 128, 0.301);
    padding: 5px;
    margin: 5px;
}

a:link{
    color: gold;
}

a:visited{
    color: rgba(218, 165, 32, 0.658);
}

p{
    background-image:url() ;
}

.image-container {
    height: 230px;
    position: relative;
}

.descricao {
    position: absolute;
    top: 51%;
    left: 21%;
}

.listaHab li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.5);
}