body{
    background-color: #F8EEB1;
    font-family: sans-serif, Helvetica;
    color: #706255;
    padding: 3%;
}

h1{
    margin: 10px 10px 80px 10px;
    text-align: center;
}

ul, li, a{
    list-style-type: none;
    text-decoration: none;
}

ul{
    background-color: #706255;
    padding: 8px;
    text-align: center;
    width: 60%;
}

li{
    background-color: rgba(128, 128, 128, 0.301);
    color: white;
    padding: 5px;
    margin: 5px;
}

a:link{
    color: gold;
}

a:visited{
    color: rgba(218, 165, 32, 0.658);
}

.listaHab li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.listaHab li:nth-child(odd):hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.listaHab {
    margin: 60px 0px 0px 0px;
}

.fotodescri{
    /* width: 20%; */
    display: inline-block;
    vertical-align: middle;
}

#minhaFoto{
    border-radius: 25%;
    padding: 10px;
    background-color: #706255;
    
}

li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}